*
{
	text-decoration: none;
	padding: 0px;
	margin: 0px;
}
body
{
	font:14px "微软雅黑",Arial,Helvetica, sans-serif; 
	background:url(../images/top.jpg) no-repeat center top #075498;
}
ul,li
{
	list-style:none;
}

a{color:#fff;}

header, article, footer{width: 1000px; margin: auto;overflow:hidden;}
nav {margin-bottom: 40px}
nav a {position: relative;display: inline-block; font-size:18px; margin-right: 30px}
.en{position: absolute; display: none;}
nav a:hover .en
{
	display: block;
}
article { background: url(../images/articlebg.png) repeat; overflow: hidden; padding: 20px; }
.container{ background: url(../images/articlebg.png) repeat;overflow: hidden;padding: :20px;}